.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*slider*/

.ant-slider-track {
  background-color: rgb(255, 0, 0) !important;
}

.ant-slider-rail {
  background-color: #65656b !important;  
}

/* 
.ant-slider .ant-slider-handle:not(.ant-tooltip-open) {
  background-color: rgb(255, 0, 0) !important;
  border-color: rgb(255, 0, 0) !important;
}

.ant-slider .ant-slider-handle:focus, 
.ant-slider .ant-slider-handle:hover,
.ant-slider .ant-slider-handle:active {
  background-color: rgb(255, 0, 0) !important;
  border-color: rgb(255, 0, 0) !important;
} */



.title {
  font-size: 1.3em;
  color: #000;
  margin-bottom: 0.5em;
  margin-right: 35rem;

}
